/* css start  */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

body {
    background-color: rgb(245, 240, 240) !important;
}

/* header position start  */
.navbar{
    border-bottom: 1px solid gray;
}
.nav-brand-logo {
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.nav-brand-logo span {
    color: rgb(233, 154, 8);
}

.nav-item {
    color: rgba(8, 8, 8, 0.685);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.nav-item .nav-link:hover {
    color: rgba(255, 102, 0, 0.911);
}

.home-section {
    width: 100%;
    height: 84%;
}

.home-content {
    width: 100%;
    height: 84vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../public/images/home_img1.jpg);
}

.img-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../public/images/home_img2.jpg);
}

.content-home {
    text-align: center;
    color: white;
}

.heading-home {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 22px;
}

.heading-lg-home {
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 10px 0px;
}

.btn-home {
    display: inline-block;
    padding: 18px 38px;
    background-color: rgb(209, 95, 2);
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 28px 0px 0px 0px;
    transition: 0.2s ease-in;
}

.btn-home:hover {
    background-color: rgb(229, 120, 22);
    color: white;
}

/* end header section  */

/* about section start  */
/* about heading start */
.about {
    width: 100%;
    height: auto;
}

.heading-about {
    color: #000;
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0px;
}

.para-about-details {
    display: block;
    color: #0e0f10;
    font-size: 16px;
    line-height: 35px;
    margin-top: 0px;
    text-align: center;
    margin: auto;
}

/* about heading end  */

/* about content start  */
.img-about {
    width: 100%;
    height: 380px;
}

.image-content {
    width: 100%;
    height: 100% !important;
}


.heading-content {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    color: rgb(209, 66, 0);
    padding: 10px 20px;
}

.para-content-about {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.74);
}

/* about content end  */
/* about section end  */

/* services start  */
.services {
    text-align: center;
    width: 100%;
    height: auto;
    padding: 24px 0px;
}

.heading_sm {
    font-size: 21px;
    text-transform: uppercase;
    color: #7ab730;
    letter-spacing: 3px;
}

.heading_lg {
    font-size: 44px;
    font-weight: 800;
    margin: 20px 0px;
}

.container-service {
    margin-top: 66px;
}

.content-services {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 14px;
    transition: 0.3s ease-in;
}

.image-service {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 11px;
}

.heading-tour {
    font-size: 20px;
    font-weight: 700;
    margin: 7px 0px;
}

.para-tour {
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    margin: 8px 0px;
    color: rgba(0, 0, 0, 0.747);
}

.btn-service {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(209, 95, 2);
    color: white;
    border-radius: 20px;
    font-weight: 500;
    padding: 10px 26px;
    margin: 10px 0px;
    transition: 0.3s ease-in;
}

.content-services:hover {
    transform: translateY(6px);
    box-shadow: 2px 2px 14px gray;
}

.content-services:hover .btn-service {
    background-color: rgb(5, 97, 189);
    color: white;
}

/* end service section  */

/* packages start  */
.packages {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px 0px;
}

.content-packages {
    width: 100%;
    height: auto;
    background-color: white;
    transition: 0.2s ease-in;
}

.content-packages:hover {
    box-shadow: 1px 1px 10px gray;
}

.img-package {
    width: 100%;
    height: 250px;
}

.image-package {
    width: 100%;
    height: 100%;
}

.content-package-container {
    padding: 18px;
}

.details-package {
    display: flex;
    justify-content: space-between;
}

.detail-text {
    color: rgba(0, 0, 0, 0.699);
    font-size: 14px;
    font-weight: 600;
}

.detail-icon {
    color: rgb(13, 196, 13);
    padding: 0px 8px;
    font-size: 13px;
}

.content-package-heading {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    color: rgba(0, 0, 0, 0.91);
    text-align: left;
    margin: 8px 0px;
}

.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rait {
    font-size: 15px;
    font-weight: 500;
}

.rait-icon {
    color: rgb(13, 196, 13);
    font-size: 15px;
    padding: 0px 8px;
}

.price-icon {
    color: rgb(13, 196, 13);
}

/* Packages End  */

/* footer start  */
footer {
    width: 100%;
    height: auto;
    background-color: rgb(31, 29, 29);
    padding: 14px;
}

/* footer component start  */
.footer-container {
    margin: 50px 0px;
    padding: 10px 4px 10px 4px;
}

.footer-logo {
    color: rgba(255, 255, 255, 0.863);
    letter-spacing: 2px;
    font-weight: 800;
}

.footer-para {
    font-size: 14px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.534);
    margin: 25px 0px;
}

.heading-sm-footer {
    color: rgba(255, 255, 255, 0.863);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 4px;
    margin: 18px 0px;
}

.social-links-footer {
    margin: 16px 0px;
}

.social-icon-footer {
    font-size: 21px;
    padding: 9px;
    border: 1px solid rgb(13, 196, 13);
    border-radius: 10px;
    color: rgb(13, 196, 13);
    margin: 0px 4px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.social-icon-footer:hover {
    background-color: rgb(13, 196, 13);
    color: white;
}

.footer-details {
    padding: 6px 18px;
}

.heading-footer {
    color: rgba(255, 255, 255, 0.863);
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 18px;
}

.footer-link {
    color: rgba(255, 255, 255, 0.534) !important;
}

.footer-link:hover {
    color: white !important;
    font-size: 15px !important;
}

.dropdown-footer {
    background-color: rgb(31, 29, 29) !important;
    box-sizing: border-box !important;
    border: 0.8px solid white !important;
}

.dropdown-footer-item {
    color: rgba(255, 255, 255, 0.534) !important;
}

.dropdown-footer-item:hover {
    color: white !important;
    background-color: rgb(31, 29, 29) !important;
    font-size: 15px !important;
}

.text-content {
    margin: 16px 0px;
    color: rgba(255, 255, 255, 0.534);
    font-size: 19px;
}

.icon-content {
    font-size: 19px;
    color: rgba(255, 255, 255, 0.863);
    padding: 0px 9px;
}

/* footer component end  */
/* footer copyright start  */
.footer-rights {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.32);
    margin: 40px;
    padding-top: 20px;
}

.rights-para {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.634);
}

/* footer copyright end  */
/* footer end  */